html, body {
	font-family: sans-serif;
	margin: auto;
	height: 100%;
	background-color: #343a40;
	border: 1px solid white;
}

.landing-nav {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 12;
	padding: 25px;
	display: flex;
	flex-direction: row;
}
.nav-links-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-left: 20%;
}
.nav-links-container a {
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
	margin-right: 30px;
}
.nav-links-container a:hover {
	animation-name: link-hov;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	font-size: 1.4rem;
}

#friendSearch {
	width: 950px;
	height: fit-content;
}
.find-friend{
	position: relative;
	color: #EEE;
	border: 1px solid #EEE;
	border-radius: 10px;
	margin: 10px;
	padding: 50px;
	width: 25%;
	height: auto;
	top: 5%;
	right: 50%;
	left: 25%;
	font-size: medium;
}

.addfriend {
	position: relative;
	width: 45px;
	height: 45px;
	object-fit: cover;
	overflow: auto;
	float: right;
}

.addfriend:hover {
	background: rgb(0, 252, 63);
}

.delfriend {
	position: relative;
	width: 45px;
	height: 45px;
	object-fit: cover;
	overflow: auto;
	float: right;
}

.delfriend:hover {
	background: rgb(255, 0, 0);
}

#friendsList { 
	position: relative;
	margin: 0;
	padding: 0;
	border: 1px solid #EEE;
	width: 300px;
	height: fit-content;
	/*background: #EEE;*/
	list-style-type: none;
  }

#searchOutput{
	margin: 10px;
	position: relative;
	right: 50%;
	left: 25%;
	bottom: 95%;
	width: fit-content;
	border-radius: 10px;
	border: 1px solid #EEE;
  }



  .friends{
	position: relative;
	bottom:27%;
	width: fit-content;
	height: 100%;
	border: 1px solid #EEE;
	border-radius: 10px;
  }
  
  .friend-search {
	  margin: 5px;
  }
  .friend{
	width: 300px;
	height: 60px;
	background: #EEE;
	/*border-bottom: 1px solid #DDD;*/
	border-radius: 10px;
	cursor: pointer;
	display: inline-flex;
	/*margin: 5px;*/
	align-items: center;
	pointer-events: all;  

  }
  
  .friend img {
	width: 45px;
	height: 45px;
	border-radius: 30px;
	border: 2px solid #AAA;
	object-fit: cover;
	margin-left: 5px;
	margin-right: 10px;
}
  
  .friend .name {
	font-size: 18px;
  }
  
  .friend.selected {
	background: #43A047;
	color: white;
  }
  
  .friend.selected img {
	border-color: white;
  }
  
  .friend:not(.selected):hover {
	background: #DDD;
  }