body {
	font-family: sans-serif;
	height: 100%;
	margin: auto;
	background-color: #343a40;
	border: 1px solid white;
}

.landing-nav {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 12;
	padding: 25px;
	display: flex;
	flex-direction: row;
}
.nav-links-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-left: 30%;
}
.nav-links-container a {
	color: white;
	font-size: 1.2rem;
	text-decoration: none;
	margin-right: 30px;
	margin-left: 30px;
}
.nav-links-container a:hover {
	animation-name: link-hov;
	animation-duration: 100ms;
	animation-timing-function: ease-in-out;
	font-size: 1.4rem;
}

.find-friend{
	position: relative;
	right: 50%;
	left: 50%;

	top: 5%;
}

.addfriend {
	position: relative;
	width: 45px;
	height: 45px;
	object-fit: cover;
	overflow: auto;
	float: right;
}

.addfriend:hover {
	background: rgb(0, 252, 63);
}

.delfriend {
	position: relative;
	width: 45px;
	height: 45px;
	object-fit: cover;
	overflow: auto;
	float: right;
}

.delfriend:hover {
	background: rgb(255, 0, 0);
}

#friendsList { 
	display: relative;
	margin: 0;
	padding: 0;
	width: 300px;
	height: fit-content;
	background: #EEE;
	list-style-type: none;
  }

  #searchOutput{
	  
  }

  .friends{
	position: relative;
	right: 90%;
  }
  
  .friend {
	width: 300px;
	height: 60px;
	background: #EEE;
	border-bottom: 1px solid #DDD;
	cursor: pointer;
	display: flex;
	align-items: center;
  }
  
  .friend img {
	width: 45px;
	height: 45px;
	border-radius: 30px;
	border: 2px solid #AAA;
	object-fit: cover;
	margin-left: 5px;
	margin-right: 10px;
  }
  
  .friend .name {
	font-size: 18px;
  }
  
  .friend.selected {
	background: #43A047;
	color: white;
  }
  
  .friend.selected img {
	border-color: white;
  }
  
  .friend:not(.selected):hover {
	background: #DDD;
  }