@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
}

#dashLink {
  margin-left: auto;
  margin-right: auto;
  color: #ffcc00;
  background-color: #25292e;
  border-radius: 10px;
  border: none;
  font-size: 0.8rem;
  padding: 15px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 1rem;
  text-decoration: none;
}
#dashLink:hover {
  cursor: pointer;
}

#message-cont {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
#friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 100%;
  overflow: auto;
  background-color: #4a4c4f;
}
#friends h1 {
  color: white;
  font-size: 1.5rem;
}
.friend-item {
  width: 80%;
  height: fit-content;
  display: flex;
  padding: 0.5em;
  margin: 5px;
  border-radius: 1em;
  background-color: white;
}
.friend-item:hover {
  cursor: pointer;
}
.friend-name {
  text-align: center;
  font-size: 1.2rem;
  margin-left: 1em;
}
#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 8%;
  width: 100%;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 1rem;
  overflow: scroll;
  font-size: 1.7rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
#form > button {
  background: #ffcc00;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #25292e;
}
#messages {
  overflow: auto;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#messages div {
  width: 20%;
  height: fit-content;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 10px;
  border-radius: 20px;
}

#messages div p {
  height: fit-content;
  width: 100%;
  word-break: break-all;
  white-space: normal;
  font-size: 1.4em;
}

.userFrom {
  align-self: flex-end;

  background-color: #ffcc00;
  color: black;
}
.userTo {
  align-self: flex-start;
  background-color: #303336;
  color: white;
}
button:hover {
  cursor: pointer;
}
.profile-pic {
  align-self: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
#message-recip {
  display: flex;
  width: 80vw;

  height: 5%;
  font-size: 1.3em;
  padding: 5px;
  padding-left: 15px;
  align-items: center;
  color: black;
  font-weight: bold;
  background-color: rgb(230, 230, 230);
}
