:root{
	--light-gray: #DADCE0;
	--light-blue: #189CE2;
}
#calendar{
  background-color: white;
  z-index: 1;
}
.fc-view-harness.fc-view-harness-active {
  z-index: 0;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
 }